
        .knob{
        margin: 10px auto 0 auto;
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 50%;
        border: 5px solid black;
        float: left:
      }

      .knobIndicator{
        width:5px;
        height: 10px;
        background-color: black;
        position: relative;
        margin: 0 auto;
      }

      /* Code from TR808.html style tag */

      p
      {
        background-color: #909090
      }
      .circle{
        margin-left: 17.5%;
        margin-right: 50%;
        margin-bottom: 100%;
        width: 13px;
        height: 13px;
        display:block;
        border-radius:50%;
        background:#660000;
      }


      .button{
        border: none;
        height: 60px;
        width:31px;
        border-radius: 5px;
        position: relative;
        box-shadow: 1.5px 1.5px 1.5px #707070;
      }
      .button:hover{
        box-shadow: 3px 3px 3px #707070;
      }

      .button1
      {
        background-color: #ff3300;
      }
      .button2
      {
        background-color: #ff9933;
      }
      .button3
      {
        background-color: #ffff00;
      }
      .button4
      {
        background-color: #ffffff;
      }
      .btn-primary
      {
          position: relative;
          top: 10%;
          left: 15%;
          border: none;
          height: 40px;
          width:50px;
          border-radius: 5px;
          position: relative;
          box-shadow: 1.5px 1.5px 1.5px #707070;
          background-color:#ffffff;
          font-size:1.em;
      }
      .btn-primary:hover{
        background-color: #cccccc;
      }
      .btn-lg{
        position:relative;
        background-color:#ff1a1a;
        border-radius:7px;
        height: 40px;
        width: 70px;

      }
      div.startstop
      {
        margin-left:0%;
        float:left;
        margin-top: 0%;
        height: 100%;
      }
      div.container
      {
        background-color: #909090;
        padding: 0%;
        width: 800px;
        height: 400px;
      }
      div.numbers{
        font-family: "Arial";
        font-weight: bold;
        font-size:1.0em;
        background-color: #c0c0c0;
        position: relative;
        float: left;
      }
      div.coloredbuttons
      {
        margin-left:8.75%;
        margin-top: 10%;
        float: left;
      }
      div.instrumentbuttons
      {
          margin-top: 0%;
          margin-left:8.75%;
          height: 13.3%;
          width: 80.75%;
      }
      .channel
      {
        width: 9%;
        height: 100%;
        float: left;
      }

      .ledOn{
        background-color: #ff1a1a;
      }

      .ledOff{
        background-color: #660000;}
