body{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.knob{
  margin: 1vw auto 0 auto;
  width: 2.5vw;
  height: 2.5vw;
  display: block;
  border-radius: 50%;
  border: 3px solid black;
}

.knobIndicator{
  width:4px;
  height: 8px;
  background-color: black;
  position: relative;
  margin: 0 auto;
}

#tempo-knob{
  width: 7vw;
  height: 7vw;
}

/* Code from TR808.html style tag */

p
{
  font-size: 2.0em;
  margin-left:30%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight:bold;

}

.circle{
margin-left: 17.5%;
margin-right: 50%;
margin-bottom: 100%;
width: 13px;
height: 13px;
display:block;
border-radius:50%;
background:#660000;
}


.button{
border: none;
height: 60px;
width:31px;
border-radius: 5px;
position: relative;
box-shadow: 1.5px 1.5px 1.5px #707070;
}
.button:hover{
box-shadow: 3px 3px 3px #181818;
}

.button1
{
background-color: #ff3300;
}
.button2
{
background-color: #ff9933;
}
.button3
{
background-color: #ffff00;
}
.button4
{
background-color: #ffffff;
}
.btn-primary
{
  position: relative;
  top: 10%;
  left: 15%;
  border: none;
  height: 40px;
  width:50px;
  border-radius: 5px;
  position: relative;
  box-shadow: 1.5px 1.5px 1.5px #707070;
  background-color:#ffffff;
  font-size: 1em;
}
.btn-primary:hover{
background-color: #cccccc;
}
.btn-lg{
position:relative;
background-color:#ff1a1a;
border-radius:7px;
height: 40px;
width: 70px;
margin-left:15%;
text-align: center;
font-family: "Helvetica Neue", Helvetica, sans-serif;
font-weight:bold;

}
.btn-lg:hover
{
  box-shadow: 3px 3px 3px #181818;
}
div.startstop
{
margin-left:3%;
float:left;
margin-top: 35%;
height: 100%;
text-align: center;
font-family: "Helvetica Neue", Helvetica, sans-serif;
font-weight:bold;
}
p.label
{
  float:right;
  margin-top: 0%;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight:bold;
  color: #ff6600;

}
div.container
{
background-color: #484848;
padding: 0%;
width: 850px;
height: 500px;
}
.numbers{
font-size:1.0em;
border-style: solid;
border-color: #c0c0c0;
border-left-width: medium;
border-right-width: medium;
background-color: #c0c0c0;
}
.number{
  font-weight: bold;
  text-align: center;
}

div.coloredbuttons
{
margin-left:7.75%;
margin-top: 15%;
height:5%;
float: left;
}
div.instrumentbuttons
{
  float: left;
  margin-top: 60%;
  margin-left:87.5%;
  height: 150px;
  width: 800px;


}
.channel
{
width: 7%;
height: 100%;
float: left;
background-color: #484848;
border-radius: 5%;
text-align: center;
font-family:  "Helvetica Neue", Helvetica, sans-serif;
font-weight:bold;
font-size:.75em;

}

.ledOn{
background-color: #ff1a1a;
}

.ledOff{
background-color: #660000;
}

.ledOff.ledBeat{
  background-color: #B01a1a;
}

.ledOn.ledBeat{
  background-color: #ff5a5a;
}
