body {
    background-color: #AAAAAA;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
}
p {
    font-size: 2.0em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* Loading stuff */

#loading-screen {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    background-color: #DDDDDD;
    z-index: 100;
}
#loading-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 110;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#loading-bar {
    margin-left: auto;
    margin-right: auto;
    height: 1vh;
    width: 50vw;
}
#loading-bar-fill {
    background-color: #003377;
    height: 100%;
    width: 0%;
    border-radius: .5vh;
    box-shadow 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
#loading-meter {
    font-size: 2em;
    font-weight: lighter;
    z-index: 120;
}

/* Knob stuff */

.knob {
    margin: 1vh auto 1vh auto;
    width: 3vw;
    height: 3vw;
    display: block;
    border-radius: 50%;
    border: .3vw solid black;
    box-shadow 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
}
.knobIndicator {
    width: .3vw;
    height: .6vw;
    background-color: black;
    position: relative;
    margin: 0 auto;
}
#volume-knob {
    margin: 2vh auto 2vh auto;
    width: 7vw;
    height: 7vw;
}
#tempo-knob {
    margin: 2vh auto 2vh auto;
    width: 7vw;
    height: 7vw;
}

/* Master stuff */

#master-controls {
    float: left;
    padding-top: 10%;
    height: 100%;
    padding-bottom: 10%;
    width: 15%;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #DDDDDD;
    font-weight: bold;
    background-color: #333343;
    box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.button-large {
    margin: 1vh auto 1vh auto;
    position: relative;
    background-color: #BB2A2C;
    border: .3vw solid black;
    border-radius: .7vw;
    height: 5vw;
    width: 6.5vw;
    margin: 1vw auto 1vw auto;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #DDDDDD;
    font-size: 1.5vw;
    font-weight: bold;
}
.button-large:hover {
    box-shadow 0px 2px 4px 1px rgba(0, 0, 0, 0.4);
}

/* Channel stuff */

#channels-container {
    width: 85%;
    float: left;
}
.spacer {
    width: 4%;
    height: 40vh;
    display: inline-block;
}
.channel {
    position: relative;
    display: inline-block;
    width: 6vw;
    height: 40vh;
    padding-top: 8vh;
    background-color: #686878;
    border-radius: .7vw;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: .75em;
}
.button-instrument {
    margin: 1vh auto 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    height: 3vw;
    width: 100%;
    border-bottom-left-radius: .7vw;
    border-bottom-right-radius: .7vw;
    box-shadow 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    background-color: #333343;
    color: #DDDDDD;
    font-size: 1vw;
    font-weight: bold;
}
.button-instrument:hover {
    background-color: #2A2A38;
}

/* Beat stuff */

#beats-container {
    width: 80%;
    padding-left: 4%;
    float: left;
}
#beats {
    float: left;
    margin: 0 auto 0 auto;
    position: absolute;
    bottom: 5vh;
}
.button-beat {
    border: none;
    height: 8vw;
    width: 4vw;
    border-radius: .7vw;
    position: relative;
    box-shadow 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
}
.button-beat:hover {
    box-shadow 0px 2px 3px 2px rgba(0, 0, 0, 0.4);
}
.beat1 {
    background-color: #ff3300;
}
.beat2 {
    background-color: #ff9933;
}
.beat3 {
    background-color: #ffff00;
}
.beat4 {
    background-color: #ffffff;
}
.label {
    float: right;
    margin-top: 0%;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    color: #ff6600;
}
.numbers {
    font-size: 1.0em;
    border-style: solid;
    border-color: #c0c0c0;
    border-left-width: medium;
    border-right-width: medium;
    background-color: #c0c0c0;
}
.number {
    font-weight: bold;
    text-align: center;
}
.coloredbuttons {
    margin-top: 30%;
    height: 5%;
    float: left;
}
.instrumentbuttons {
    overflow: hidden;
    margin-left: 10%;
    height: 50%;
    width: 70%;
}

/* LED Stuff */

.led {
    margin: 0 auto 100% auto;
    width: 1.75vw;
    height: 1.75vw;
    display: block;
    border-radius: 50%;
    background: #660000;
}
.ledOn {
    background-color: #ff1a1a;
}
.ledOff {
    background-color: #660000;
}
.ledOff.ledBeat {
    background-color: #B01a1a;
}
.ledOn.ledBeat {
    background-color: #ff5a5a;
}
